<h4>
  Evento lanzado con RxJS y usando el metodo fromEvent
</h4>
<div>
  <label>Monto:
    <input value="monto" id="monto" name="monto" type="number"
           placeholder="$000.00">
  </label>
  &nbsp;&nbsp;
  <label>IVA:
    <input maxlength="3" value="iva" id="iva" name="iva" type="number"
           placeholder="00%">
  </label>
  &nbsp;&nbsp;
  <label>Monto IVA:
    <input [(ngModel)]="montoIva" value="montoIva" id="montoIva" name="montoIva" type="number"
           placeholder="$000.00">
  </label>
  &nbsp;&nbsp;
  <label>Monto Total:
    <input value="montoTotal" id="montoTotal" name="montoTotal" type="number"
           placeholder="$000.00">
  </label>
</div>
