<h4>Formularios <small>template</small></h4>
<hr>
<form (ngSubmit)="guardar(forma)" #forma="ngForm" novalidate="">

  <div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col-8">

        <input class="form-control"
               type="text"
               placeholder="Nombre"
               name="nombre"
               [(ngModel)]="usuario.nombre"     
               minlength=5
               required
               #nombre="ngModel">        <!-- Con el ngModel entre [] hace el mapeo con el ts
                                entre corchetes solo recibe la información pero no la actualiza,
                                para que escuche y emita los cambios se usa entre parentesis.
                                Por ejemplo, como caso pracito, Si se quiere mantener una copia del usuario se pone nada mas entre[] -->


<!-- Para mostrar si hay error, ya sea por requerido o por que no cumple con el regex-->
              <div *ngIf="nombre.errors?.required">       <!--El signo de interrogación se usa para ver si existe el campo -->
                Este campo es requerido
              </div>
              <div *ngIf="nombre.errors?.minlength">
                Por lo menos {{nombre.errors.minlength.requiredLength}} caracteres
              </div>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Apellido</label>
      <div class="col-8">

        <input class="form-control"
               type="text"
               placeholder="Apellido"
               name="apellido"
               [(ngModel)]="usuario.apellido"
               required
              #apellido="ngModel">
        <div *ngIf="apellido.errors?.required">
          Campo requerido
        </div>
      </div>
    </div>

  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Correo</label>
    <div class="col-md-8">

      <input class="form-control"
             type="email"
             placeholder="Correo electrónico"
             name="correo"
             [(ngModel)]="usuario.correo"
             required
             pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
             #correo="ngModel">
    <div *ngIf="correo.errors?.required">
          Campo requerido
    </div>
    <div *ngIf="correo.errors?.pattern">
          Validar el correo
    </div>
    </div>
  </div>



  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8">
      <button type="submit" class="btn btn-outline-primary">
        Guardar
      </button>
    </div>
  </div>

</form>