<!--The content below is only a placeholder and can be replaced.-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<br>
<br>
<br>
<table style="border:1px solid black;margin-left:auto; margin-right:auto; ">
  <th width="500px">Angular</th>
  <th width="500px">Kendo</th>

  <tr>
    <!--Botones angular-->
    <td align="center">

      <!--Boton regular-->
      <button>Angular button</button>
      <!--Boton con índices-->
      <button mat-button [matMenuTriggerFor]="animals">Animal index</button>

      <mat-menu #animals="matMenu">
        <button mat-menu-item [matMenuTriggerFor]="vertebrates">Vertebrates</button>
        <button mat-menu-item [matMenuTriggerFor]="invertebrates">Invertebrates</button>
      </mat-menu>

      <mat-menu #vertebrates="matMenu">
        <button mat-menu-item [matMenuTriggerFor]="fish">Fishes</button>
        <button mat-menu-item [matMenuTriggerFor]="amphibians">Amphibians</button>
        <button mat-menu-item [matMenuTriggerFor]="reptiles">Reptiles</button>
        <button mat-menu-item>Birds</button>
        <button mat-menu-item>Mammals</button>
      </mat-menu>

      <mat-menu #invertebrates="matMenu">
        <button mat-menu-item>Insects</button>
        <button mat-menu-item>Molluscs</button>
        <button mat-menu-item>Crustaceans</button>
        <button mat-menu-item>Corals</button>
        <button mat-menu-item>Arachnids</button>
        <button mat-menu-item>Velvet worms</button>
        <button mat-menu-item>Horseshoe crabs</button>
      </mat-menu>

      <mat-menu #fish="matMenu">
        <button mat-menu-item>Baikal oilfish</button>
        <button mat-menu-item>Bala shark</button>
        <button mat-menu-item>Ballan wrasse</button>
        <button mat-menu-item>Bamboo shark</button>
        <button mat-menu-item>Banded killifish</button>
      </mat-menu>

      <mat-menu #amphibians="matMenu">
        <button mat-menu-item>Sonoran desert toad</button>
        <button mat-menu-item>Western toad</button>
        <button mat-menu-item>Arroyo toad</button>
        <button mat-menu-item>Yosemite toad</button>
      </mat-menu>

      <mat-menu #reptiles="matMenu">
        <button mat-menu-item>Banded Day Gecko</button>
        <button mat-menu-item>Banded Gila Monster</button>
        <button mat-menu-item>Black Tree Monitor</button>
        <button mat-menu-item>Blue Spiny Lizard</button>
        <button mat-menu-item disabled>Velociraptor</button>
      </mat-menu>
      <!--Boton con opciones-->
      <button mat-icon-button [matMenuTriggerFor]="menu2">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu2="matMenu">
        <button mat-menu-item>
          <mat-icon>dialpad</mat-icon>
          <span>Redial</span>
        </button>
        <button mat-menu-item disabled>
          <mat-icon>voicemail</mat-icon>
          <span>Check voicemail</span>
        </button>
        <button mat-menu-item>
          <mat-icon>notifications_off</mat-icon>
          <span>Disable alerts</span>
        </button>
      </mat-menu>
      <!--Boton con opciones 2-->
      <button mat-button [matMenuTriggerFor]="menu">Menu</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
      </mat-menu>
    </td>
    <!--Botones Kendo-->
    <td align="center">
      <kendo-dropdownbutton [data]="data" (itemClick)="onButtonItemClick($event)">Kendo Button</kendo-dropdownbutton>
      <button kendoButton (click)="onButtonClick()" [icon]="'folder-up'">Browse</button>
    </td>
  </tr>
  <tr>
    <td align="center">

      <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Choose a date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </td>
    <td align="center">
      <kendo-calendar></kendo-calendar>
    </td>
  </tr>
  <tr>
    <td align="center">
      <mat-checkbox labelPosition='before'>Check me!</mat-checkbox><br>
      <mat-checkbox labelPosition='after'>Check me!</mat-checkbox>
    </td>

  
    <td align="center">

      <kendo-treeview [nodes]="data2" textField="text" kendoTreeViewExpandable kendoTreeViewSelectable
        kendoTreeViewHierarchyBinding childrenField="items">
      </kendo-treeview>

    </td>

  </tr>
  <tr><td align="center">
    <mat-form-field>
      <mat-select placeholder="Favorite food">
        <mat-option *ngFor="let food of foods" [value]="food.value">
          {{food.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field></td>
    <td align="center">
      <div class="example-config">
        <input id="ac" type="checkbox" [(ngModel)]="allowCustom">
        <label for="ac">Allow custom values</label>
      </div>
      <div class="example-wrapper">
      <p>Favorite sport:</p>
      <kendo-combobox [data]="listItems" [allowCustom]="allowCustom">
      </kendo-combobox>
      </div>

    </td>
  </tr>
  

  
</table>
<br>
<h1>Angular Table</h1>
<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
    <td mat-cell *matCellDef="let element"> {{element.position}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="weight">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Weight </th>
    <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="symbol">
    <th mat-header-cell *matHeaderCellDef> Symbol </th>
    <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>


<br>
<h1>Kendo Table</h1>

<kendo-grid [kendoGridBinding]="gridData" [resizable]="true" [filterable]="true" [group]="groupBy" [sortable]="{
  allowUnsort:true,
  mode: 'multiple'
}"
  [pageable]="{
    buttonCount: 3,
    pageSizes: [5,10,20]
  }" [pageSize]=8 [height]="310">
  <kendo-grid-column field="ProductID" title="ID" width="40">
  </kendo-grid-column>
  <kendo-grid-column field="ProductName" title="Name" width="250">
  </kendo-grid-column>
  <kendo-grid-column field="Category.CategoryName" title="Category">
  </kendo-grid-column>

</kendo-grid>


<br>
<p><a href="https://onsen.io/theme-roller/" target="_blank">Onsen</a></p>
<p><a href="https://ionicframework.com/docs/components" target="_blank">Ionic</a></p>
<p><a href="http://demos.shieldui.com/" target="_blank">Shield UI (javascript)</a></p>
<br>
<br>
<br>
<br>
<br>






<!-- https://www.youtube.com/watch?v=yAEe8AWkywc -->


<router-outlet></router-outlet>