<?xml version="1.0" encoding="UTF-8"?>

<!-- Spring bean definition - https://www.tutorialspoint.com/spring/spring_bean_definition.htm -->

<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">
   
	<bean id="car" class="com.Daniel.SpringTelusko.Car">
	</bean>
	<bean id="bike" class="com.Daniel.SpringTelusko.Bike">
	</bean>
</beans>