<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>

	<servlet>
		<servlet-name>serv</servlet-name>			<!-- El nombre que se tenga aquí debe de coincidir en (a) -->
		<servlet-class>
			com.sun.jersey.spi.container.servlet.ServletContainer
		</servlet-class>
		<init-param>
			<param-name>com.sun.jersey.config.property.packages</param-name>
			<param-value>com.Daniel.ws.restx</param-value>			<!-- Es el nombre del paquete principal ó  -->
			<!-- Regularmente los paquetes se nombran igual que el groupId, pero en el para-value no es necesario que
			coincida, el groupID y artifactId se pueden ver en el POM -->
		</init-param>
		<init-param>
			<param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
			<param-value>true</param-value>		
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>serv</servlet-name>				<!--  (a) -->
		<url-pattern>/services/*</url-pattern>
	</servlet-mapping>
</web-app>
