<div class="card animated fadeIn slow">
    <img [src]="heroe.img" class="card-img-top" [alt]="heroe.nombre">
    <!-- Entre llave hace que lo maneje angular y simplemente se pone entre comillas y ya no entre {{}} 
    esto se puede hacer solamente con los atributos de una etiqueta-->
    <div class="card-body">
      <h5 class="card-title">{{ heroe.nombre }}</h5>
      <p class="card-text">{{ heroe.bio }}</p>
      <p class="card-text"><small class="text-muted">{{ heroe.aparicion }}</small></p>
      <!-- Dos formas de moverse, una con un boton y otra con un anchortag (el anchortag no necesita codigo en el .ts) -->
      <button (click)='verHeroe(i)' type="button" class="btn btn-outline-primary btn-block">
        Ver más... (btn)
      </button>
      <a [routerLink]="['/heroe', i]" class="btn btn-outline-primary btn-block">Ver más... (anchortag)</a>
      <!--Con la diagonal en heroe le indica que será a nivel de heroe y no de heroes/heroe/0 -->
    </div>
</div>